@import url("https://fonts.googleapis.com/css?family=Cutive+Mono|Dosis:500|Ubuntu:700");

/*
font-family: 'Ubuntu', sans-serif;
font-family: 'Dosis', sans-serif;
font-family: 'Cutive Mono', monospace;
*/

/*
color: #ffffff;      white
color: #1c1c1c;      dark grey
color: #393939;      medium grey
color: #c0c0c0;      light grey
color: #ef8846;      orange
color: #96cce7;      blue
*/

/*------Prevents phones from resizing in landscape mode -------*/
html { -webkit-text-size-adjust: none}

/*-----------apply a natural box layout model to all elements -------------*/
* { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }

nav ul {
    display: flex;
    display: -ms-flexbox;
    flex-wrap: wrap;
    -ms-flex-wrap: wrap;
}

nav ul.show {
    display: flex;
    display: -ms-flexbox;
}

nav ul.hide {
    display: none;
}
        
nav ul li {
    list-style: none;
    flex-basis: 100%;
    -ms-flex: 100%;
}

.navigation { 
    right: 220px;
    top: 158px;
    position: fixed;
}

#businessHours {
    right: 235px;
    top: 225px;
    position: fixed;
    color: #ffffff;
    font-family: 'Dosis', sans-serif;
}

#socialMedia {
    height: 20px;
    position: fixed;
    right: 600px;
    top: 225px;
}

nav button {
    position: fixed;
    right: 100px;
    top: 60px;
}

.navigation li a {
    font-family: 'Ubuntu', sans-serif;
    text-align: center;
    font-size: x-large;
    display: block;
    color: #ffffff;
    padding: .5rem 0;
    text-decoration: none;
}

.navigation li a:hover {
    background-color: #ef8846;
    color: #1c1c1c;
}

.navigation li a.active {
    background-color: #96cce7;
    color: #ffffff;
}

.content {
    max-width: 1000px;
    margin: 0 auto;
    background-color: #cfcfcf;
}

#bannerheader {
    align-self: center;
    top: 0px;
    position: fixed;
}

#footerInfo {
    float: right;
    position: relative;
    margin-bottom: -200px;
}

#footerbanner {
    align-self: center;
    bottom: 0px;
    position: static;
}

#footLocation, #footMoreInfo {
    color: #ffffff;
    font-family: 'Dosis', sans-serif;
    display: inline-block;
    margin: 40px 70px 0px 35px;
    font-size: 25px;
}

#bold {
    font-weight: 800;
    font-family: 'Ubuntu', sans-serif;
}

#team1 {
    width: 485px;
    float: right;
    margin-top: -520px;
    margin-right: 10px;
}

#bike1, #bike2, #bike3 {
    width: 290px;
}

#sale1, #sale2, #sale3 {
    width: 290px;
}

#repair1, #repair2, #repair3 {
    width: 290px;
}

#adventure1, #adventure2, #adventure3 {
    width: 450px;
    padding: 15px 0px 15px 15px;
}

.adventure1, .adventure2, .adventure3 {
    width: 450px;
    padding: 15px 45px 15px 0px;
    float: right;
    font-family: 'Dosis', sans-serif;
    font-size: 22px; 
}

#boldAdventure, #boldEvent, #shopBold, #serviceBold {
    font-weight: 800;
    font-family: 'Ubuntu', sans-serif;
    font-size: 26px;
}

#event1, #event2, #event3 {
    width: 450px;
    padding: 15px 0px 15px 15px;
}

.event1, .event2, .event3 {
    width: 450px;
    padding: 15px 15px 15px 0px;
    float: right;
    font-family: 'Dosis', sans-serif;
    font-size: 22px;
}

.rightColumn p {
    padding-bottom: 30px;
    margin-top: -400px;
}

#saleSection {
    background-color: #ffffff;
}

#pageSection {
    font-family: 'Dosis', sans-serif;
    padding-right: 10px;
}

#rcorners1 {
    border-radius: 25px;
    background: #ef8846;
    color: #ffffff;
    padding: 15px 10px 20px 10px; 
    width: 175px;
    height: 50px; 
    text-align: center;
    font-family: 'Dosis', sans-serif;
    font-size: 20px;
    font-weight: 800;
}

#rcorners2 {
    border-radius: 25px;
    background: #ef8846;
    color: #ffffff;
    padding: 15px 10px 20px 10px; 
    width: 200px;
    height: 70px; 
    text-align: center;
    font-family: 'Dosis', sans-serif;
    font-size: 20px;
    font-weight: 800;
}

#pageButtons {
    display: flex;
    margin: -100px 40px 0px 40px;
    position: static;
}

#saleButtons {
    display: flex;
    margin: -120px 40px 0px 10px;
    position: static;
}

.buttonColumn {
    flex: 33.33%;
    padding: 0px 150px 0px 20px;
    width: 100%;
}

.row {
    display: flex;
}

.column {
    flex: 33.33%;
    padding: 15px 0px 15px 15px;
    width: 100%;
}

#mapSection {
    padding: 15px 0px 15px 15px;
}

#mapAdjecent {
    width: 350px;
    float: right;
    margin-top: -500px;
    margin-right: 10px;
}

h3 {
    font-size: 35px;
    font-family: 'Ubuntu', sans-serif;
}

#mapAdjecent p {
    font-family: 'Dosis', sans-serif;
    font-size: 28px;
    padding-right: 10px;
}

.mapouter {
    text-align: right;
    height: 500px;
    width: 600px;
}

.gmap_canvas {
    overflow: hidden;
    background: none!important;
    height: 500px;
    width: 600px;
}

#space {
    height: 259px;
}

/* Style inputs */
h2 {
    font-family: 'Ubuntu', sans-serif;
    font-size: 50px;
}

#contact {
    font-family: 'Ubuntu', sans-serif;
}

label {
    font-family: 'Dosis', sans-serif;
    font-size: 20px;
}

input[type=text], select, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
    font-family: 'Dosis', sans-serif;
}

input[type=submit] {
    background-color: #96cce7;
    color: #000000;
    padding: 12px 20px;
    border: none;
    cursor: pointer;
    font-family: 'Dosis', sans-serif;
}

input[type=submit]:hover {
    background-color: #ef8846;
    font-family: 'Dosis', sans-serif;
}

/* Style the container/contact section */
.container {
    border-radius: 5px;
    background-color: #cfcfcf;
    padding: 10px;
}

/* Create two columns that float next to eachother */
.contactColumn {
    float: left;
    width: 50%;
    margin-top: 6px;
    padding: 20px;
}

/* Clear floats after the columns */
.contactRow:after {
    content: "";
    display: table;
    clear: both;
}

body {
    font-family: 'Dosis', sans-serif;
}

* {box-sizing: border-box}

/* Full-width input fields */
input[type=text], input[type=password] {
    width: 100%;
    padding: 15px;
    margin: 5px 0 22px 0;
    display: inline-block;
    border: none;
    background: #f1f1f1;
}

input[type=text]:focus, input[type=password]:focus {
    background-color: #ddd;
    outline: none;
}

hr {
    border: 1px solid #f1f1f1;
    margin-bottom: 25px;
}

/* Set a style for all buttons */
button {
    background-color: #96cce7;;
    color: #1c1c1c;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
    opacity: 0.7;
}

button:hover {
    opacity:1;
}

/* Extra styles for the cancel button */
.cancelbtn {
    padding: 14px 20px;
    background-color: #ef8846;
}

/* Float cancel and signup buttons and add an equal width */
.cancelbtn, .signupbtn {
  float: left;
  width: 50%;
}

/* Add padding to container elements */
.container {
    padding: 16px;
}

/* Clear floats */
.clearfix::after {
    content: "";
    clear: both;
    display: table;
}