<link href="https://fonts.googleapis.com/css?family=Cutive+Mono|Dosis:500|Ubuntu:700" rel="stylesheet">

/*
font-family: 'Ubuntu', sans-serif;
font-family: 'Dosis', sans-serif;
font-family: 'Cutive Mono', monospace;
*/

@media only screen and (min-width: 700px) {   



} /* end of media query */