@import url("https://fonts.googleapis.com/css?family=Cutive+Mono|Dosis:500|Ubuntu:700");

/*
font-family: 'Ubuntu', sans-serif;
font-family: 'Dosis', sans-serif;
font-family: 'Cutive Mono', monospace;
*/
 
@media only screen and (min-width: 400px) {   

nav ul li {
    flex-basis: auto; 
    -ms-flex: auto;
}
    
nav ul li {
    -ms-flex: 0 0 auto;
}
     
.navigation {
    overflow: hidden;
}

.navigation li a {
    color: #ffffff;
    font-size: 20px;
    padding: 10px 15px 10px;
    text-decoration: none;
}
    
nav button {
    display: none;
}

} /* end of media query */
